@import "config.less";
body{
    .body{
        padding-bottom: 120px;
        section{
            width: 100%;
            &.banner{
                width: 100%;
                height: 536px;
                background-size: cover;
            }
            &.article{
                .container{
                    padding-top: 30px;
                    h1{
                        font-size: 26px;
                        font-weight: 500;
                        line-height: 30px;
                    }
                    time{
                        padding: 20px 0;
                        margin-top: 30px;
                        display: block;
                        border-top: 1px solid rgba(0,0,0,.1);
                        border-bottom: 1px solid rgba(0,0,0,.1);
                    }
                    h2{
                        padding-top: 30px;
                        font-weight: 500;
                        font-size: 20px;
                        padding-bottom: 15px;
                    }
                    p{
                        font-weight: 400;
                        padding-top: 20px;
                    }
                }
            }
            &.more{
                margin-top: 60px;
                .container{
                    padding-top: 15px;
                    position: relative;
                    &:before{
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        content: '';
                        position: absolute;
                        display: inline-block;
                        background-color: #DDD;
                    }
                    .content{
                        width: 100%;
                        padding-top: 30px;
                        .flex(row, space-around, center);
                        a{
                            width: 220px;
                            padding: 8px;
                            height: 260px;
                            transition: .7s;
                            display: inline-block;
                            background-color: rgba(0,0,0,.03);
                            box-shadow: 0 2px 24px rgba(0,0,0,0);
                            .img{
                                padding-top: 60%;
                            }
                            time{
                                margin-top: 8px;
                                display: inline-block;
                            }
                            .title{
                                font-size: 18px;
                                font-weight: 400;
                                padding-top: 15px;
                            }
                            &:hover{
                                box-shadow: 0 6px 36px rgba(0,0,0,.15);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1199px){}
@media (max-width: 991px){
    body .body section.more{
        border-top: 0;
        position: relative;
    }
    body .body section.more .container:before{
        left: 15px;
        width: calc(~'100% - 30px');
    }
    body .body section.more .container .content a{
        width: 180px;
        height: 240px;
    }
    body .body section.content .container .information .photo_group .content > div{
        height: calc(~'(100vw - 30px - 120px) * (60/100)');
    }
}
@media (max-width: 767px){
    body .body section.banner{
        height: 60vw;
    }
    body .body section.article .container{
        padding-top: 60px;
    }
    body .body section.article .container time{
        padding: 12px 0px;
        margin-top: 20px;
    }
    body .body section.more .container .content{
        .flex(column, center, center);
    }
    body .body section.more .container .content a{
        width: 100%;
        height: 100px;
        position: relative;
        padding-left: 108px;
        margin-bottom: 15px;
        .flex(column, flex-start, flex-start);
        .img{
            top: 0;
            left: 0;
            width: 100px;
            height: 100%;
            padding-top: 0;
            position: absolute;
        }
        time{
            margin-top: 0;
            font-size: 12px;
        }
        .title{
            padding-top: 4px;
        }
    }
}