@import "config.less";
//reset
	*{
	    border: 0;
	    margin: 0;
	    padding: 0;
	    outline: none;
	    color: #3a3939;
	    font-size: 15px;
	    list-style: none;
	    font-weight: 300;
	    border-radius: 0;
		line-height: 22px;
		border-spacing: 0;
	    letter-spacing: 0;
	    box-sizing: border-box;
	    background-size: cover;
		vertical-align: baseline;
	    background-position: center;
	    background-repeat: no-repeat;
		-webkit-tap-highlight-color: transparent;
		font-family: 'PingFang', 'Microsoft JhengHei';
	}
	b{
		font-weight: 600;
	}
	a, a:link, a:visited, a:hover, a:active{
		color: #000;
		display: inline-block;
	    text-decoration: none;
	}
	.container{
		// width: 1170px;
		width: 970px;
		margin: 0 auto;
		max-width: 100%;
	}
body{
    .body{
		padding-top: 147px;
		.flex(column, center, center);
		min-height: calc(~'100vh - 45px');
        .container{
            
        }
	}
	.gototop{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		pointer-events: none;
		.flex(row, center, center);
		align-items: stretch;
		.container{
			position: relative;
			.btn{
				opacity: 0;
				width: 60px;
				right: 80px;
				opacity: .8;
				bottom: 15px;
				height: 60px;
				cursor: pointer;
				transition: .3s;
				line-height: 60px;
				position: absolute;
				text-align: center;
				border-radius: 50%;
				pointer-events: auto;
				background-color: @orange;
				&:before{
					width: 16px;
					content: '';
					height: 16px;
					border-left: none;
					border-bottom: none;
					display: inline-block;
					border-top: 2px solid #FFF;
					border-right: 2px solid #FFF;
					transform: rotateZ(-45deg) translate(-6px, 6px);
				}
				&.show{
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}
    header{
		top: 0;
		left: 0;
		width: 100%;
		position: fixed;
		background-color: #fff;
		border-bottom: 3px solid @orange;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
        .container{
			width: 1130px;
			padding-top: 30px;
			.flex(row, space-between, flex-start);
			.logo{
				width: 380px;
				height: 72px;
				display: inline-block;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url(/img/header/logo.jpg);
			}
			.content{
				.link{
					padding-right: 15px;
					.flex(row, flex-end, center);
					a{
						width: 24px;
						height: 24px;
						~a{
							margin-left: 15px;
						}
					}
				}
				nav{
					.flex(row, flex-end, center);
					>div{
						position: relative;
						>a, >span{
							color: #4a4a4a;
							cursor: pointer;
							font-size: 15px;
							transition: .3s;
							font-weight: 600;
							line-height: 40px;
							padding: 25px 15px;
							letter-spacing: 1px;
							display: inline-block;
							&:hover{
								color: @orange;
							}
							&.now{
								color: @orange;
							}
						}
						.dropdown{
							top: 93px;
							width: auto;
							width: 120px;
							padding: 6px 0;
							position: absolute;
							background-color: #fff;
							left: calc(~'50% - 59px');
							border-radius: 0 0 4px 4px;
							box-shadow: 0 6px 12px rgba(0,0,0,.175);
							a{
								color: #5c5c5c;
								font-size: 13px;
								transition: .3s;
								font-weight: 500;
								padding: 8px 30px;
								white-space: nowrap;
								letter-spacing: 1px;
								&:hover{
									color: @orange;
								}
								&.now{
									color: @orange;
								}
							}
						}
					}
				}
			}
			.menu_btn{
				display: none;
			}
        }
    }
    footer{
		background: #3c3c3c;
		border-top: 1px solid #d8d8d8;
        .container{
			color: #b6b6b6;
			font-size: 12px;
			font-weight: 400;
			line-height: 45px;
			text-align: center;
			br{
				display: none;
			}
        }
    }
}
@media (max-width: 1199px){
    .container{
        width: 970px;
	}
	body{
		.body{
			.container{
			}
		}
		.gototop{
			.container{
				.btn{
					&:before{
					}
				}
			}
		}
		header{
			.container{
				width: 970px;
				.logo{
				}
				.content{
					.link{
						a{
							~a{
							}
						}
					}
					nav{
						>div{
							>a, >span{
								&:hover{
								}
							}
							.dropdown{
								a{
									&:hover{
									}
								}
							}
						}
					}
				}
			}
		}
		footer{
			.container{
			}
		}
	}
}
@media (max-width: 991px){
    .container{
		// width: 750px;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
    }
	body{
		.body{
			.container{
				
			}
		}
		.gototop{
			.container{
				.btn{
					&:before{
					}
				}
			}
		}
		header{
			.container{
				width: 750px;
				position: relative;
				.flex(row, flex-end, center);
				.logo{
					left: 0;
					top: 15px;
					position: absolute;
				}
				.content{
					
					.link{
						a{
							~a{
							}
						}
					}
					nav{
						>div{
							>a, >span{
								&:hover{
								}
							}
							.dropdown{
								a{
									&:hover{
									}
								}
							}
						}
					}
				}
			}
		}
		footer{
			.container{
			}
		}
	}
}
@media (max-width: 767px){
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	body{
		width: 100%;
		overflow-x: hidden;
		.body{
			width: 100%;
			overflow-x: hidden;
			padding-top: 60px;
			min-height: calc(~'100vh - 49px');
			.container{
				
			}
		}
		.gototop{
			.container{
				.btn{
					right: 15px;
					&:before{
					}
				}
			}
		}
		header{
			height: 63px;
			.container{
				height: 100%;
				padding-top: 0;
				.flex(row, space-between, center);
				.logo{
					top: auto;
					width: 211px;
					height: 40px;
					position: relative;
				}
				.content{
					left: 0;
					top: 63px;
					opacity: 0;
					width: 100%;
					position: fixed;
					transition: .3s;
					pointer-events: none;
					height: calc(~'100% - 63px');
					background-color: rgba(0,0,0,.7);
					.link{
						display: none;
						a{
							~a{
							}
						}
					}
					nav{
						height: 100%;
						padding-top: 70px;
						.flex(column, flex-start, center);
						>div{
							width: 100%;
							height: auto;
							.flex(column, center, center);
							>a, >span{
								width: 100%;
								color: #FFF;
								padding: 8px 0;
								font-size: 18px;
								font-weight: 300;
								text-align: center;
								&:hover{
								}
							}
							.dropdown{
								left: 0;
								top: auto;
								width: 100%;
								box-shadow: none;
								position: relative;
								text-align: center;
								.flex(column, center, center);
								background-color: rgba(0,0,0,0);
								a{
									padding: 0;
									width: 100%;
									color: #FFF;
									font-size: 18px;
									font-weight: 300;
									line-height: 56px;
									text-align: center;
									&:hover{
									}
									~a{
										margin-top: 0;
									}
								}
							}
						}
					}
					&.show{
						opacity: 1;
						pointer-events: auto;
					}
				}
				.menu_btn{
					width: 42px;
					display: inline-block;
					.flex(column, center, center);
					span{
						height: 3px;
						cursor: pointer;
						border-radius: 2px;
						background-color: @orange;
						width: calc(~'100% - 20px');
						~span{
							margin-top: 4px;
						}
					}
				}
			}
		}
		footer{
			.container{
				padding: 6px 15px;
				line-height: 18px;
				letter-spacing: 1px;
				br{
					display: inline-block;
				}
			}
		}
	}
}