@import "config.less";
// component
body .body section .title_bar{
    height: 30px;
    position: relative;
    margin-bottom: 10px;
    padding: 3px 0 3px 10px;
    .flex(row, flex-start, center);
    border-left: 3px solid @orange;
    h2{
        color: #666;
        font-size: 24px;
        font-weight: 600;
    }
    ul{
        margin-left: 90px;
        .flex(row, center, center);
        li{
            color: #9b9b9b;
            font-size: 15px;
            font-weight: 400;
            &.now{
                color: @orange;
            }
            ~li{
                margin-left: 26px;
                position: relative;
                &:before{
                    top: 3px;
                    width: 2px;
                    left: -14px;
                    content: '';
                    height: 16px;
                    position: absolute;
                    display: inline-block;
                    background-color: #9b9b9b;
                }
            }
        }
    }
    a{
        right: 0;
        color: @orange;
        font-weight: 500;
        line-height: 30px;
        position: absolute;
    }
}
body{
    .body{
        section{
            width: 100%;
            .flex(row, center, center);
            ~section{
                margin-top: 60px;
            }
            &:nth-of-type(1){
                height: 480px;
                background-size: cover;
                .flex(row, center, center);
                background-position: center;
                .container{
                    h1{
                        color: @orange;
                        font-size: 72px;
                        font-weight: 600;
                        line-height: 97px;
                    }
                    h2{
                        color: #FFF;
                        font-size: 36px;
                        font-weight: 500;
                        line-height: 48px;
                    }
                    p{
                        color: #FFF;
                        font-weight: 400;
                        padding-top: 10px;
                        line-height: 26px;
                    }
                }
            }
            &:nth-of-type(2){
                .container{
                    .list{
                        display: none;
                        &.show{
                            display: inline-block;
                        }
                        >div{
                            position: relative;
                            .flex(row, center, center);
                            ~div{
                                margin-top: 30px;
                            }
                            .img{
                                width: 303px;
                                height: 183px;
                            }
                            .text{
                                height: 100%;
                                padding-top: 8px;
                                padding-left: 10px;
                                width: calc(~'100% - 303px');
                                .flex(column, space-between, flex-start);
                                h3{
                                    a{
                                        color: #333;
                                        font-size: 24px;
                                        font-weight: 400;
                                        line-height: 28px;
                                    }
                                }
                                .information{
                                    color: #9b9b9b;
                                    font-size: 12px;
                                    line-height: 24px;
                                }
                                .paragraphy{
                                    height: 88px;
                                    color: #676767;
                                    font-size: 15px;
                                    font-weight: 400;
                                    line-height: 22px;
                                }
                                div{
                                    width: 100%;
                                    margin-top: 10px;
                                    padding-top: 6px;
                                    position: relative;
                                    .flex(row, space-between, center);
                                    &:before{
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 1px;
                                        content: '';
                                        position: absolute;
                                        display: inline-block;
                                        background-color: #CCC;
                                    }
                                    ul{
                                        text-align-last: left;
                                        li{
                                            color: #97a9c8;
                                            font-size: 16px;
                                            font-weight: 400;
                                            margin-right: 12px;
                                            display: inline-block;
                                            &:before{
                                                content: "";
                                                width: 5px;
                                                height: 5px;
                                                margin-right: 5px;
                                                background: #97a9c8;
                                                border-radius: 10px;
                                                display: inline-block;
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                    a{
                                        color: @orange;
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(3){
                .container{
                    .content{
                        height: 364px;
                        align-items:stretch;
                        .flex(row, center, center);
                        .img{
                            width: 584px;
                            height: 100%;
                            display: inline-block;
                            padding: 0px 34px 14px;
                            .flex(column, flex-end, center);
                            .title{
                                width: 100%;
                                color: #FFF;
                                font-size: 24px;
                                text-align: left;
                                font-weight: 400;
                                line-height: 48px;
                            }
                            .paragraphy{
                                color: #FFF;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .readmore{
                                width: 100%;
                                color: @orange;
                                font-size: 15px;
                                font-weight: 500;
                                text-align: right;
                                line-height: 30px;
                            }
                        }
                        .list{
                            height: 100%;
                            background: #fafafa;
                            width: calc(~'100% - 584px');
                            .flex(column, center, center);
                            align-items: stretch;
                            >div{
                                height: 33.3%;
                                cursor: pointer;
                                position: relative;
                                padding: 12px 14px 12px 18px;
                                &.now{
                                    background-color: #f3f3f3;
                                    &:after{
                                        top: 0;
                                        left: 0;
                                        width: 4px;
                                        content: '';
                                        height: 100%;
                                        position: absolute;
                                        display: inline-block;
                                        background-color: @orange;
                                    }
                                }
                                ~div{
                                    &:before{
                                        top: 0;
                                        left: 20px;
                                        height: 1px;
                                        content: '';
                                        position: absolute;
                                        display: inline-block;
                                        background-color: #CCC;
                                        width: calc(~'100% - 40px');
                                    }
                                }
                                h3{
                                    color: #606060;
                                    font-size: 18px;
                                    font-weight: 400;
                                    line-height: 36px;
                                }
                                div{
                                    color: #606060;
                                    font-size: 15px;
                                    font-weight: 400;
                                    line-height: 22px;
                                    padding-top: 14px;
                                }
                                p{
                                    display: none;
                                }
                                a{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(4){
                .container{
                    .list{
                        .flex(row, center, center);
                        >div{
                            position: relative;
                            background: #f9f9f9;
                            padding: 8px 8px 50px;
                            .flex(column, center, flex-start);
                            ~div{
                                margin-left: 15px;
                            }
                            a.img{
                                height: 0;
                                width: 100%;
                                display: inline-block;
                                padding-bottom: 56.25%;
                            }
                            time{
                                color: #9b9b9b;
                                font-size: 12px;
                            }
                            h3{
                                font-size: 24px;
                                margin-top: 20px;
                                line-height: 32px;
                            }
                            p{
                                color: #333;
                                font-size: 15px;
                                margin-top: 10px;
                            }
                            a.readmore{
                                right: 8px;
                                bottom: 8px;
                                color: @orange;
                                position: absolute;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(5){
                .container{
                    >p{
                        color: #606060;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 23px;
                    }
                    .process{
                        padding-top: 30px;
                        .flex(row, space-around, center);
                        >div{
                            .flex(column, center, center);
                            .img{
                                width: 120px;
                                height: 120px;
                                background-size: contain;
                            }
                            p{
                                color: #606060;
                                font-weight: 400;
                                padding-top: 45px;
                                span{
                                    color: #FFF;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    margin-right: 2px;
                                    text-align: center;
                                    border-radius: 50%;
                                    display: inline-block;
                                    background-color: @orange;
                                }
                            }
                        }
                    }
                    .join{
                        text-align: center;
                        padding-top: 140px;
                        h3{
                            color: #606060;
                            font-size: 26px;
                            font-weight: 500;
                            line-height: 35px;
                        }
                        a{
                            color: #FFF;
                            margin-top: 30px;
                            padding: 11px 27px;
                            border-radius: 22px;
                            background-color: @orange;
                        }
                    }
                }
            }
            &:nth-of-type(6){
                margin-top: 70px;
                padding-top: 80px;
                background: #3c3c3c;
                padding-bottom: 15px;
                *{
                    color: #FFF;
                }
                .container{
                    h2{
                        font-size: 44px;
                        font-weight: 600;
                        line-height: 44px;
                        text-align: center;
                    }
                    .connact{
                        flex-wrap: wrap;
                        padding-top: 64px;
                        .flex(row, space-between, center);
                        >div{
                            width: 25%;
                            height: 146px;
                            padding-bottom: 60px;
                            span{
                                display: block;
                                &:nth-of-type(1){
                                    color: @orange;
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 18px;
                                }
                                &:nth-of-type(2){
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 24px;
                                }
                                &:nth-of-type(3),
                                &:nth-of-type(4){
                                    font-size: 15px;
                                    font-weight: 400;
                                    line-height: 22px;
                                }
                            }
                            &:nth-of-type(5){
                                width: 50%;
                                flex-wrap: wrap;
                                .flex(column, flex-end, flex-start);
                                span{
                                    &:nth-of-type(3){
                                        width: 50%;
                                    }
                                    &:nth-of-type(4){
                                        width: 50%;
                                        padding-top: 42px;
                                    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .topLayer{
    }
}
@media (max-width: 1199px){
    body .body section .title_bar{
        h2{
        }
        ul{
            li{
                &.now{
                }
                ~li{
                    &:before{
                    }
                }
            }
        }
        a{
        }
    }
    body{
        .body{
            section{
                ~section{
                }
                &:nth-of-type(1){
                    .container{
                        h1{
                        }
                        h2{
                        }
                        p{
                        }
                    }
                }
                &:nth-of-type(2){
                    .container{
                        .list{
                            &.show{
                            }
                            >div{
                                ~div{
                                }
                                .img{
                                }
                                .text{
                                    h3{
                                        a{
                                        }
                                    }
                                    .information{
                                    }
                                    .paragraphy{
                                    }
                                    div{
                                        &:before{
                                        }
                                        ul{
                                            li{
                                                &:before{
                                                }
                                            }
                                        }
                                        a{
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(3){
                    .container{
                        .content{
                            .img{
                                .title{
                                }
                                .paragraphy{
                                }
                                .readmore{
                                }
                            }
                            .list{
                                >div{
                                    &.now{
                                        &:after{
                                        }
                                    }
                                    ~div{
                                        &:before{
                                        }
                                    }
                                    h3{
                                    }
                                    div{
                                    }
                                    p{
                                    }
                                    a{
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(4){
                    .container{
                        .list{
                            >div{
                                ~div{
                                }
                                a.img{
                                }
                                time{
                                }
                                h3{
                                }
                                p{
                                }
                                a.readmore{
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(5){
                    .container{
                        >p{
                        }
                        .process{
                            >div{
                                img{
                                }
                                p{
                                    span{
                                    }
                                }
                            }
                        }
                        .join{
                            h3{
                            }
                            a{
                            }
                        }
                    }
                }
                &:nth-of-type(6){
                    *{
                    }
                    .container{
                        h2{
                        }
                        .connact{
                            >div{
                                span{
                                    &:nth-of-type(1){
                                    }
                                    &:nth-of-type(2){
                                    }
                                    &:nth-of-type(3),
                                    &:nth-of-type(4){
                                    }
                                }
                                &:nth-of-type(5){
                                    span{
                                        &:nth-of-type(3){
                                        }
                                        &:nth-of-type(4){
                                        
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .topLayer{
        }
    }
}
@media (max-width: 991px){
    body .body section .title_bar{
        h2{
        }
        ul{
            li{
                &.now{
                }
                ~li{
                    &:before{
                    }
                }
            }
        }
        a{
        }
    }
    body{
        .body{
            section{
                ~section{
                }
                &:nth-of-type(1){
                    .container{
                        h1{
                        }
                        h2{
                        }
                        p{
                        }
                    }
                }
                &:nth-of-type(2){
                    .container{
                        .list{
                            &.show{
                            }
                            >div{
                                ~div{
                                }
                                .img{
                                }
                                .text{
                                    h3{
                                        a{
                                        }
                                    }
                                    .information{
                                    }
                                    .paragraphy{
                                        height: auto;
                                    }
                                    div{
                                        &:before{
                                        }
                                        ul{
                                            li{
                                                &:before{
                                                }
                                            }
                                        }
                                        a{
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(3){
                    .container{
                        .content{
                            height: 400px;
                            .img{
                                width: calc(~'100% - 350px');
                                .title{
                                }
                                .paragraphy{
                                }
                                .readmore{
                                }
                            }
                            .list{
                                width: 350px;
                                >div{
                                    &.now{
                                        &:after{
                                        }
                                    }
                                    ~div{
                                        &:before{
                                        }
                                    }
                                    h3{
                                    }
                                    div{
                                    }
                                    p{
                                    }
                                    a{
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(4){
                    .container{
                        .list{
                            >div{
                                ~div{
                                }
                                a.img{
                                }
                                time{
                                }
                                h3{
                                }
                                p{
                                }
                                a.readmore{
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(5){
                    .container{
                        >p{
                        }
                        .process{
                            >div{
                                img{
                                }
                                p{
                                    span{
                                    }
                                }
                            }
                        }
                        .join{
                            h3{
                            }
                            a{
                            }
                        }
                    }
                }
                &:nth-of-type(6){
                    *{
                    }
                    .container{
                        h2{
                        }
                        .connact{
                            >div{
                                span{
                                    &:nth-of-type(1){
                                    }
                                    &:nth-of-type(2){
                                    }
                                    &:nth-of-type(3),
                                    &:nth-of-type(4){
                                    }
                                }
                                &:nth-of-type(5){
                                    width: 75%;
                                    span{
                                        &:nth-of-type(3){
                                            width: 33.3%;
                                        }
                                        &:nth-of-type(4){
                                            width: 66.6%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .topLayer{
        }
    }
}
@media (max-width: 767px){
    body .body section .title_bar{
        h2{
        }
        ul{
            li{
                &.now{
                }
                ~li{
                    &:before{
                    }
                }
            }
        }
        a{
        }
    }
    body{
        .body{
            section{
                ~section{
                }
                &:nth-of-type(1){
                    height: 400px;
                    .flex(column, flex-end, flex-start);
                    .container{
                        padding-bottom: 30px;
                        h1{
                            font-size: 45px;
                        }
                        h2{
                            font-size: 26px;
                            line-height: 26px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                &:nth-of-type(2){
                    .container{
                        .title_bar{
                            position: relative;
                            margin-bottom: 60px;
                            ul{
                                left: 0;
                                top: 45px;
                                margin-left: 0;
                                position: absolute;
                            }
                        }
                        .list{
                            &.show{
                            }
                            >div{
                                .flex(column, center, flex-start);
                                ~div{
                                    margin-top: 40px;
                                }
                                .img{
                                    height: 0;
                                    width: 100%;
                                    padding-top: 60%;
                                }
                                .text{
                                    width: 100%;
                                    padding-left: 0;
                                    h3{
                                        a{
                                        }
                                    }
                                    .information{
                                    }
                                    .paragraphy{
                                        height: auto;
                                    }
                                    div{
                                        &:before{
                                        }
                                        ul{
                                            li{
                                                &:before{
                                                }
                                            }
                                        }
                                        a{
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(3){
                    .container{
                        .content{
                            .flex(column, center, center);
                            height: calc(~'(100vw - 30px) * 2/5 + 400px');
                            .img{
                                width: 100%;
                                display: inline-block;
                                padding: 0px 12px 12px;
                                height: calc(~'100vw - 30px * 2/5');
                                .flex(column, flex-end, flex-start);
                                .title{
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 16px;
                                }
                                .paragraphy{
                                    font-size: 12px;
                                    padding-top: 12px;
                                }
                                .readmore{
                                    font-size: 14px;
                                    margin-top: 6px;
                                    line-height: 14px;
                                }
                            }
                            .list{
                                width: 100%;
                                height: auto;
                                >div{
                                    height: 90px;
                                    &.now{
                                        &:after{
                                            
                                        }
                                    }
                                    ~div{
                                        &:before{
                                        }
                                    }
                                    h3{
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 16px;
                                    }
                                    div{
                                        font-size: 14px;
                                        padding-top: 8px;
                                        line-height: 18px;
                                    }
                                    p{
                                    }
                                    a{
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(4){
                    .container{
                        .list{
                            .flex(column, center, center);
                            >div{
                                ~div{
                                    margin-left: 0;
                                    margin-top: 15px;
                                }
                                a.img{
                                }
                                time{
                                }
                                h3{
                                    margin-top: 12px;
                                    line-height: 24px;
                                }
                                p{
                                }
                                a.readmore{
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(5){
                    .container{
                        >p{
                        }
                        .process{
                            .flex(column, center, center);
                            >div{
                                ~div{
                                    margin-top: 30px;
                                }
                                img{
                                }
                                p{
                                    padding-top: 15px;
                                    span{
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        .join{
                            padding-top: 120px;
                            h3{
                            }
                            a{
                            }
                        }
                    }
                }
                &:nth-of-type(6){
                    padding-top: 30px;
                    *{
                    }
                    .container{
                        h2{
                            font-size: 26px;
                        }
                        .connact{
                            padding-top: 30px;
                            .flex(column, flex-start, flex-start);
                            >div{
                                width: 100%;
                                height: auto;
                                padding-bottom: 15px;
                                span{
                                    &:nth-of-type(1){
                                        font-size: 14px;
                                    }
                                    &:nth-of-type(2){
                                        padding-top: 4px;
                                        line-height: 18px;
                                    }
                                    &:nth-of-type(3),
                                    &:nth-of-type(4){
                                        display: inline-block;
                                    }
                                }
                                &:nth-of-type(5){
                                    width: 100%;
                                    span{
                                        br{
                                            display: none;
                                        }
                                        &:nth-of-type(3){
                                            width: 100%;
                                        }
                                        &:nth-of-type(4){
                                            width: 100%;
                                            padding-top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .topLayer{
        }
    }
}