@import "config.less";
//reset
	*{
	    border: 0;
	    margin: 0;
	    padding: 0;
	    color: #000;
	    outline: none;
	    font-size: 15px;
	    list-style: none;
	    font-weight: 400;
	    border-radius: 0;
		line-height: 22px;
		border-spacing: 0;
	    letter-spacing: 0;
	    box-sizing: border-box;
	    background-size: cover;
		vertical-align: baseline;
	    background-position: center;
	    background-repeat: no-repeat;
		-webkit-tap-highlight-color: transparent;
		font-family: 'PingFang', 'Microsoft JhengHei';
	}
	b{
		font-weight: 600;
	}
	a, a:link, a:visited, a:hover, a:active{
		color: #000;
		display: inline-block;
	    text-decoration: none;
	}
	.container{
		width: 1140px;
	}
body{
	position: relative;
	min-height: 100vh;
	padding-top: 66px;
	.flex(column, flex-start, center);
    .body{
		width: 100%;
		padding-bottom: 120px;
		.flex(column, flex-start, center);
		min-height: calc(~'100vh - 66px - 60px');
        .container{
            
        }
	}
    header{
		top: 0;
		left: 0;
		width: 100%;
		height: 66px;
		position: absolute;
		border: 1px solid #000;
		.flex(row, center, center);
        .container{
			height: 100%;
			.flex(row, space-between, center);
			>a{
				width: 87px;
				margin-top: -1px;
				border: 1px solid #000;
				.flex(row, center, center);	
				height: calc(~'100% + 2px');
				img{
					width: 47px;
				}
			}
			nav{
				.flex(row, center, center);
				a{
					width: 87px;
					height: 21px;
					color: rgba(0,0,0,.5);
					display: inline-block;
					~a{
						margin-left: 30px;
					}
					&.now{
						color: rgba(0,0,0,1);
					}
				}
			}
        }
    }
    footer{
		width: 100%;
		height: 60px;
		border: 1px solid #000;
		.flex(row, center, center);
		.container{
			.flex(row, center, center);
		}
	}
	.fixbox{
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		height: 100%;
		position: fixed;
		pointer-events: none;
		.flex(row, center, center);
	}
}
@media (max-width: 1439px){}
@media (max-width: 767px){}