@import "config.less";
body{
    .container{
        .body{
            main{
                h1{
                    
                }
                h2{
                    
                }
                .COMPONENT_elementbox{
                    .element{
                        ~.element{
                            
                        }
                        label{
                            
                        }
                        .content{
                            min-height: 26px;
                            position: relative;
                            overflow-x: hidden;
                            h3{
                                top: 0;
                                left: 0;
                                position: absolute;
                            }
                        }
                        .btn_box{
                            .delete{
                                
                            }
                            .top{
                                
                            }
                            .bottom{
                                
                            }
                        }
                    }
                }
            }
        }
        >form{
            display: none;
        }
    }
}
@media (max-width: 1199px){}
@media (max-width: 991px){}
@media (max-width: 767px){}