@import "config.less";
//reset
    *{
        border: 0;
        margin: 0;
        padding: 0;
        margin-top: 0;
        color: @black;
        outline: none;
        margin-left: 0;
        font-size: 15px;
        margin-right: 0;
        list-style: none;
        font-weight: 400;
        margin-bottom: 0;
        border-radius: 0;
        line-height: 22px;
        border-spacing: 0;
        letter-spacing: 0;
        box-sizing: border-box;
        background-size: cover;
        vertical-align: baseline;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-tap-highlight-color: transparent;
        font-family: 'PingFang', 'Microsoft JhengHei';
    }
    b{
        font-weight: 600;
    }
    a, a:link, a:visited, a:hover, a:active{
        color: #000;
        display: inline-block;
        text-decoration: none;
    }
    input{
        &[type="file"],
        &[type="radio"],
        &[type="checkbox"]{
            display: none;
        }
    }
    .container{
        width: 1200px;
    }
// COMPONENT
    // 小型元件
        .COMPONENT_back{
            width: 139px;
            height: 48px;
            font-size: 18px;
            transition: .2s;
            margin-top: 30px;
            line-height: 48px;
            text-align: center;
            border-radius: 2px;
            margin-bottom: 30px;
            display: inline-block;
            background-color: #f1f1f1;
            &:hover{
                background-color: #E5E5E5;
            }
            &:link, &:visited, &:hover, &:active{
                color: @black;
            }
        }
        .COMPONENT_inputbox_text{
            height: 24px;
            position: relative;
            input{
                left: 0;
                bottom: 0;
                border: 0;
                width: 100%;
                padding-left: 7px;
                position: absolute;
                padding-right: 7px;
                padding-bottom: 4px;
                vertical: bottom;
                background-color: rgba(0,0,0,0);
                &::placeholder{
                    color: #c4c4c4;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            + .COMPONENT_inputbox_text{
                margin-left: 8px;
            }
            &.fullWidth{
                flex: 1;
            }
            &.big{
                width: 270px;
            }
            &.small{
                width: 100px;
                input{
                    text-align: center;
                }
            }
            &:after{
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                content: '';
                transition: .3s;
                position: absolute;
                display: inline-block;
                background-color: #c4c4c4;
            }
            &.focus{
                &:after{
                    box-shadow: @light_micro;
                    background-color: @orange_light;
                }
            }
        }
        .COMPONENT_inputbox_radio{
            +.COMPONENT_inputbox_radio{
                margin-left: 15px;
            }
            input{
                display: none;
            }
            label{
                cursor: pointer;
                font-size: 18px;
                line-height: 21px;
                position: relative;
                padding-left: 16px;
                &:before, &:after{
                    content: '';
                    transition: .2s;
                    position: absolute;
                    display: inline-block;
                }
                &:before{
                    left: 0;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    top: calc(~'50% - 7px');
                    border: 1px solid #c4c4c4;
                }
                &:after{
                    left: 3px;
                    width: 7px;
                    opacity: 0;
                    height: 7px;
                    border-radius: 50%;
                    top: calc(~'50% - 4px');
                    box-shadow: @light_micro;
                    background-image: linear-gradient(180deg, #FFD643 0%, #FDBB3A 100%);
                }
                &.check{
                    &:before{
                        border-color: @orange_light;
                    }
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
        .COMPONENT_inputbox_image{
            width: 160px;
            height: 100px;
            position: relative;
            border-radius: 2px;
            background-color: rgba(85, 85, 85, 1);
            input{
                display: none;
            }
            label{
                width: 38px;
                bottom: 8px;
                right: -19px;
                height: 38px;
                cursor: pointer;
                position: absolute;
                border-radius: 50%;
                display: inline-block;
                background-color: @orange;
                &:before, &:after{
                    top: 0;
                    left: 0;
                    width: 38px;
                    content: '';
                    height: 38px;
                    position: absolute;
                    display: inline-block;
                }
                &:before{
                    opacity: 0;
                    transition: .2s;
                    box-shadow: @light;
                    border-radius: 50%;
                    background-image: @orange_linear;
                }
                &:after{
                    background-size: 18px 18px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(../img/edit_white.svg);
                }
                &:hover{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
        .COMPONENT_inputbox_textarea{
            width: 100%;
            resize: none;
            padding: 7px;
            height: 167px;
            transition: .2s;
            border-radius: 2px;
            border: 1px solid #e5e5e5;
            &:focus{
                border-color: @orange_light;
                box-shadow: @light_micro, @light_micro inset;
            }
        }
        .COMPONENT_questionBox{
            flex-wrap: wrap;
            .flex(row, flex-start, flex-start);
        }
        .COMPONENT_question{
            width: 100%;
            .flex(row, flex-start, flex-start);
            &.small{
                width: 40%;
            }
            ~.COMPONENT_question{
                margin-top: 30px; 
            }
            >div{
                &:nth-of-type(1){
                    font-size: 18px;
                    line-height: 21px;
                    margin-right: 15px;
                }
            }
        }
        .COMPONENT_togglebtn{
            width: 34px;
            height: 13px;
            cursor: pointer;
            transition: .2s;
            margin-top: 4px;
            border-radius: 7px;
            background-color: #dbdbdb;
            .flex(row, space-between, flex-start);
            &:before, &:after{
                width: 19px;
                content: '';
                height: 19px;
                transition: .2s;
                margin-top: -3px;
                border-radius: 50%;
                display: inline-block;
            }
            &:before{
                margin-left: -2px;
                background-color: #f1f1f1;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
            }
            &:after{
                opacity: 0;
                margin-right: -2px;
                box-shadow: @light_micro;
                transform: translateX(-19px);
                background-image: @orange_linear;
            }
            &.open{
                background-color: rgba(253, 187, 58, .4);
                &:before{
                    transform: translateX(19px);
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
                }
                &:after{
                    opacity: 1;
                    margin-left: -21px;
                    transform: translateX(0px);
                }
            }
        }
        .COMPONENT_article{
            display: none;
        }
        .COMPONENT_inputbox_dropdown{
            width: 300px;
            height: 33px;
            cursor: pointer;
            transition: .2s;
            margin-top: -4px;
            position: relative;
            border-radius: 2px;
            margin-bottom: -5px;
            background-color: #fff;
            border: 1px solid #dbdbdb;
            div{
                top: 6px;
                left: 15px;
                font-size: 18px;
                position: absolute;
            }
            ul{
                left: 0;
                top: 40px;
                opacity: 0;
                z-index: 1;
                width: 100%;
                padding: 3px 0;
                transition: .2s;
                position: absolute;
                border-radius: 2px;
                pointer-events: none;
                display: inline-block;
                background-color: #fff;
                transform: translateY(15px);
                .flex(column, flex-start, flex-start);
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                li{
                    width: 100%;
                    font-size: 14px;
                    transition: .2s;
                    padding: 4px 11px;
                    line-height: 32px;
                    display: inline-block;
                    background-color: #fff;
                    &:hover{
                        background-color: #F1F1F1;
                    }
                }
            }
            &:after{
                top: 11px;
                right: 10px;
                content: '';
                transition: .2s;
                position: absolute;
                display: inline-block;
                transform: rotateZ(0deg);
                border-top: 12px solid #c4c4c4;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 0px solid transparent;
            }
            &.open{
                box-shadow: @light_micro, @light_micro inset;
                border-color: @orange_light;
                ul{
                    opacity: 1;
                    pointer-events: auto;
                    transform: translateY(0px);
                }
                &:after{
                    transform: rotateZ(180deg);
                    border-top-color: @orange_light;
                }
            }
        }
        .COMPONENT_message{
            width: 100%;
            padding-top: 16px;
            position: relative;
            padding-left: 55px;
            padding-right: 114px;
            transition: opacity .2s;
            .flex(column, flex-start, flex-start);
            img{
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                position: absolute;
                border-radius: 2px;
            }
            h6{
                top: 0; 
                left: 55px;
                color: #C4C4C4;
                font-size: 14px;
                line-height: 16px;
                position: absolute;
            }
            p{
                font-size: 14px;
                line-height: 24px;
            }
            .COMPONENT_togglebtn{
                top: 0;
                right: 0;
                position: absolute;
            }
            .COMPONENT_message{
                margin-top: 7px;
                width: calc(~'100% + 114px');
                ~.COMPONENT_message{
                    margin-top: 7px;
                }
            }
            &.off{
                opacity: .4;
                .COMPONENT_message{
                    pointer-events: none;
                }
            }
            ~.COMPONENT_message{
                margin-top: 15px;
            }
        }
    // 大型組件
        .COMPONENT_elementbox{
            height: 315px;
            position: relative;
            transition: height .2s;
            .element{
                left: 0;
                width: 100%;
                transition: .3s;
                min-height: 24px;
                padding-top: 14px;
                position: absolute;
                padding-left: 15px;
                border-radius: 2px;
                padding-right: 15px;
                padding-bottom: 15px;
                border: 1px solid #DBDBDB;
                background-color: #F9F9F9;
                .flex(row, space-between, flex-start);
                >label{
                    width: 72px;
                    min-width: 72px;
                    max-width: 72px;
                    color: #c4c4c4;
                    font-size: 14px;
                    line-height: 24px;
                    white-space: nowrap;
                    display: inline-block;
                    &:after{
                        color: #c4c4c4;
                        font-size: 14px;
                        line-height: 24px;
                        display: inline-block;
                    }
                }
                .content{
                    width: 100%;
                    height: auto;
                    font-size: 0;
                    flex: 0 1 auto;
                    line-height: 0px;
                    margin-left: 15px;
                    h3{
                        width: 100%;
                        overflow: hidden;
                        line-height: 26px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .btn_box{
                    margin-left: 15px;
                    .flex(row, center, center);
                    div{
                        width: 23px;
                        height: 23px;
                        cursor: pointer;
                        border-radius: 50%;
                        ~div{
                            margin-left: 15px;
                        }
                        &.add{
                            transition: .2s;
                            position: relative;
                            background: @orange;
                            &:before, &:after{
                                top: 0;
                                left: 0;
                                width: 100%;
                                content: '';
                                height: 100%;
                                position: absolute;
                                display: inline-block;
                            }
                            &:before{
                                opacity: 0;
                                transition: .2s;
                                border-radius: 50%;
                                box-shadow: @light_micro;
                                background: @orange_linear;
                            }
                            &:after{
                                background-size: 12px 12px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url(../img/add.svg);
                            }
                            &:hover{
                                &:before{
                                    opacity: 1;
                                }
                            }
                        }
                        &.delete{
                            transition: .1s;
                            background-color: #DBDBDB;
                            background-size: 12px 12px;
                            background-image: url(../img/delete.svg);
                            &:hover{
                                background-color: #C4C4C4;
                            }
                        }
                        &.up, &.down{
                            transition: .2s;
                            border: 1px solid @orange;
                            .flex(row, center, center);
                            &:before{
                                content: '';
                                transition: .2s;
                                display: inline-block;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                            }
                            &:hover{
                                box-shadow: @light_micro;
                                border-color: @orange_light;
                                &:before{
                                    border-top-color: @orange_light;
                                    border-bottom-color: @orange_light;
                                }
                            }
                        }
                        &.up{
                            border: 1px solid @orange;
                            &:before{
                                border-bottom: 8px solid @orange;
                                border-top: 0px solid transparent;
                                transform: translate( -0.5px, -1px);
                            }
                        }
                        &.down{
                            border: 1px solid @orange;
                            &:before{
                                border-top: 8px solid @orange;
                                transform: translate( -0.5px, .5px);
                                border-bottom: 0px solid transparent;
                            }
                        }
                    }
                }
                &:nth-of-type(1){
                    .btn_box{
                        div{
                            &.up{
                                opacity: 0;
                                pointer-events: none;
                            }
                        }
                    }
                }
                &:nth-last-of-type(1){
                    .btn_box{
                        div{
                            &.down{
                                opacity: 0;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }
        table.COMPONENT_tablelist{
            width: 100%;
            margin-top: 30px;
            .flex(column, flex-start, stretch);
            thead{
                .flex(column, flex-start, stretch);
                tr{
                    height: 24px;
                    .flex(row, space-between, flex-start);
                    th{
                        padding-left: 15px;
                        text-align-last: left;
                        .flex(row, space-between, flex-start);
                        ~th{
                            
                        }
                        &.img{
                            width: 115px;
                        }
                        &.title{
                            flex: 1;
                        }
                        &.date{
                            width: 120px;
                        }
                        &.edit{
                            width: 58px;
                        }
                    }
                }
            }
            tbody{
                width: 100%;
                .flex(column, flex-start, stretch);
                tr{
                    border-top: 1px solid #c4c4c4;
                    .flex(row, space-between, flex-start);
                    td{
                        height: 86px;
                        padding-top: 8px;
                        padding-left: 15px;
                        padding-bottom: 8px;
                        .flex(row, flex-start, center);
                        &:nth-of-type(1){
                            padding-left: 15px;
                        }
                        &.img{
                            width: 115px;
                            img{
                                width: 100%;
                                max-height: 100%;
                                object-fit: cover;
                            }
                        }
                        &.title{
                            flex: 1;
                            overflow: hidden;
                        }
                        &.date{
                            width: 120px;
                        }
                        &.edit{
                            width: 58px;
                            a{
                                width: 100%;
                                height: 100%;
                                position: relative;
                                display: inline-block;
                                background-size: 18px 18px;
                                background-position: 0 center;
                                background-image: url(../img/edit.svg);
                                &:after{
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                    width: 100%;
                                    content: '';
                                    height: 100%;
                                    transition: .2s;
                                    position: absolute;
                                    display: inline-block;
                                    background-size: 18px 18px;
                                    background-repeat: no-repeat;
                                    background-position: 0 center;
                                    background-image: url(../img/edit_light.svg);
                                }
                                &:hover{
                                    &:after{
                                        opacity: 1;
                                        filter: drop-shadow(@light_micro);
                                    }
                                }
                            }
                        }
                    }
                    ~tr{
                        border-top-color: #dbdbdb;
                    }
                }
            }
        }
    
//body
    body{
        background-repeat: repeat;
        .flex(row, center, center);
        background-size: 50px 50px;
        background-image: url(../img/paper.jpg);
        .container{
            height: 100vh;
            overflow: hidden;
            position: relative;
            .flex(row, center, flex-start);
            .body{
                width: 100%;
                height: 100vh;
                overflow: scroll;
                padding-top: 60px;
                position: relative;
                padding-bottom: 60px;
                .flex(column, flex-start, center);
                &::-webkit-scrollbar {
                    display: none;
                }
                main{
                    width: 830px;
                    flex: 1 0 auto;
                    min-height: 100vh;
                    padding: 60px 30px;
                    position: relative;
                    border-radius: 8px;
                    margin-bottom: 60px;
                    background-color: #fff;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
                    h1{
                        color: @orange;
                        font-size: 36px;
                        line-height: 41px;
                    }
                    h2{
                        font-size: 24px;
                        margin-top: 60px;
                        line-height: 28px;
                        +*{
                            margin-top: 30px;
                        }
                    }
                    section{
                        padding-bottom: 60px;
                        padding-top: 30px;
                        >h2{
                            margin-top: 0;
                        }
                        +section{
                            border-top: 1px solid #F1F1F1;
                        }
                    }
                    .main_btn{
                        top: 0;
                        width: 60px;
                        height: 100vh;
                        position: fixed;
                        padding-left: 15px;
                        padding-bottom: 60px;
                        pointer-events: none;
                        left: calc(~'50vw + 415px');
                        .flex(column, flex-end, flex-start);
                        >div, >a, >label{
                            width: 60px;
                            height: 60px;
                            cursor: pointer;
                            position: relative;
                            border-radius: 50%;
                            pointer-events: auto;
                            background-color: @orange;
                            ~div{
                                margin-top: 15px;
                            }
                            &.save{
                                &:after{
                                    background-size: 31px 35px;
                                    background-image: url(../img/mainbtn_save.svg);
                                }
                            }
                            &.add{
                                &:after{
                                    background-size: 31px 31px;
                                    background-image: url(../img/mainbtn_add.svg);
                                }
                            }
                            span{
                                opacity: 0;
                                right: 90px;
                                font-size: 14px;
                                transition: .3s;
                                line-height: 60px;
                                position: absolute;
                                white-space: nowrap;
                                color: @orange_light;
                                pointer-events: none;
                                display: inline-block;
                            }
                            &:after, &:before{
                                top: 0;
                                left: 0;
                                width: 60px;
                                content: '';
                                height: 60px;
                                position: absolute;
                                border-radius: 50%;
                                display: inline-block;
                            }
                            &:before{
                                opacity: 0;
                                transition: .3s;
                                box-shadow: @light;
                                background: @orange_linear;
                            }
                            &:after{
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            &:hover{
                                &:before{
                                    opacity: 1;
                                }
                                span{
                                    opacity: 1;
                                }
                            }
                        }
                        >input[type="submit"]{
                            display: none;
                        }
                    }
                }
                .page{
                    .flex(row, center, flex-start);
                    li{
                        ~li{
                            margin-left: 15px;
                        }
                        a{
                            color: #8c8c8c;
                            font-size: 18px;
                            transition: .2s;
                            text-shadow: 0 1px 0 #FFF;
                            &:hover{
                                color: @orange_light;
                                text-shadow: @light_micro;
                            }
                        }
                        &.now{
                            a{
                                color: @orange;
                            }
                        }
                    }
                }
            }
            .fixbox{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: fixed;
                pointer-events: none;
            }
            header{
                top: 0;
                left: 30px;
                height: 100vh;
                overflow: hidden;
                padding-top: 20vh;
                position: absolute;
                .flex(column, flex-start, flex-start);
                .logo{
                    top: 139px;
                    width: 100px;
                    height: 100px;
                }
                nav{
                    margin-top: 38px;
                    position: relative;
                    .flex(column, flex-start, flex-start);
                    &:before{
                        top: 11px;
                        left: 15px;
                        width: 1px;
                        content: '';
                        height: 100vh;
                        position: absolute;
                        display: inline-block;
                        background-color: rgba(0, 0, 0, .08);
                    }
                    a{
                        color: #8c8c8c;
                        font-size: 18px;
                        line-height: 21px;
                        position: relative;
                        padding-left: 26px;
                        text-shadow: 0 1px 0 #FFF;
                        ~a{
                            margin-top: 66px;
                        }
                        &.now{
                            color: @orange;
                            &:before{
                                opacity: 1;
                            }
                        }
                        &:before{
                            top: 7px;
                            left: 12px;
                            width: 7px;
                            opacity: 0;
                            height: 7px;
                            content: '';
                            position: absolute;
                            border-radius: 50%;
                            display: inline-block;
                            box-shadow: @light_micro;
                            background: @orange_linear;
                        }
                    }
                }
                .menu_btn{
                    display: none;
                }
            }
        }
    }
@media (max-width: 1199px){
    .COMPONENT_elementbox{
        .element{
            .loop(@counter) when (@counter > 0) {
                &:nth-of-type(@{counter}){
                    label{
                        &:after{
                        }
                    }
                }
            }
            label{
                &:after{
                }
            }
            .content{
                h3{
                }
            }
            .btn_box{
                div{
                    ~div{
                    }
                    &.delete{
                        &:hover{
                        }
                    }
                    &.up, &.down{
                        &:before{
                            transform: translate( .5px, .5px);
                        }
                        &:hover{
                            &:before{
                            }
                        }
                    }
                    &.up{
                        &:before{
                            transform: translateY( -1px);
                        }
                    }
                    &.down{
                        &:before{
                        }
                    }
                }
            }
            &:nth-of-type(1){
                .btn_box{
                    div{
                        &.up{
                        }
                    }
                }
            }
            &:nth-last-of-type(1){
                .btn_box{
                    div{
                        &.down{
                        }
                    }
                }
            }
        }
    }
    table.COMPONENT_tablelist{
        thead{
            tr{
                th{
                    ~th{
                        
                    }
                    &.img{
                    }
                    &.title{
                    }
                    &.date{
                    }
                    &.edit{
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    &:nth-of-type(1){
                    }
                    &.img{
                        img{
                        }
                    }
                    &.title{
                    }
                    &.date{
                    }
                    &.edit{
                        a{
                            &:after{
                            }
                            &:hover{
                                &:after{
                                }
                            }
                        }
                    }
                    &:nth-last-of-type(1){
                    }
                }
                ~tr{
                }
            }
        }
    }
    .COMPONENT_message{
        padding-right: 98px;
        img{
        }
        h6{
        }
        p{
        }
        .COMPONENT_togglebtn{
        }
        .COMPONENT_message{
            width: calc(~'100% + 98px');
            ~.COMPONENT_message{
            }
        }
        &.off{
            .COMPONENT_message{
            }
        }
        ~.COMPONENT_message{
        }
    }
    .container{
        width: 992px;
    }
    body{
        .container{
            .body{
                padding-left: 15px;
                padding-right: 15px;
                .flex(column, flex-start, flex-end);
                main{
                    width: 827px;
                    flex: 0 0 auto;
                    h1{
                    }
                    h2{
                        +*{
                        }
                    }
                    .main_btn{
                        left: calc(~'50vw + 406px - 15px');
                        >div{
                            ~div{
                            }
                            &.save{
                                &:after{
                                }
                            }
                            &.add{
                                &:after{
                                }
                            }
                            span{
                            }
                            &:after, &:before{
                            }
                            &:before{
                            }
                            &:after{
                            }
                            &:hover{
                                &:before{
                                }
                                span{
                                }
                            }
                        }
                    }
                }
                .page{
                    align-self: center;
                }
            }
            .fixbox{
                
            }
            header{
                left: 15px;
                img{
                }
                nav{
                    &:before{
                    }
                    a{
                        ~a{
                        }
                        &.now{
                            &:before{
                            }
                        }
                        &:before{
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px){
    .COMPONENT_elementbox{
        .element{
            .loop(@counter) when (@counter > 0) {
                &:nth-of-type(@{counter}){
                    label{
                        &:after{
                        }
                    }
                }
            }
            label{
                &:after{
                }
            }
            .content{
                h3{
                }
            }
            .btn_box{
                div{
                    ~div{
                    }
                    &.delete{
                        &:hover{
                        }
                    }
                    &.up, &.down{
                        &:before{
                            transform: translate( -0.5px, .5px);
                        }
                        &:hover{
                            &:before{
                            }
                        }
                    }
                    &.up{
                        &:before{
                            transform: translate(-1px, -1px);
                        }
                    }
                    &.down{
                        &:before{
                        }
                    }
                }
            }
            &:nth-of-type(1){
                .btn_box{
                    div{
                        &.up{
                        }
                    }
                }
            }
            &:nth-last-of-type(1){
                .btn_box{
                    div{
                        &.down{
                        }
                    }
                }
            }
        }
    }
    table.COMPONENT_tablelist{
        thead{
            tr{
                th{
                    ~th{
                        
                    }
                    &:nth-of-type(1){
                        padding-left: 0;
                    }
                    &:nth-last-of-type(1){
                        padding-right: 0;
                    }
                    &.img{
                        width: 100px;
                    }
                    &.title{
                    }
                    &.date{
                        width: 106px;
                        display: none;
                    }
                    &.edit{
                        width: 46px;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    height: 76px;
                    &:nth-of-type(1){
                        padding-left: 0;
                    }
                    &:nth-last-of-type(1){
                        padding-right: 0;
                    }
                    &.img{
                        width: 100px;
                        img{
                        }
                    }
                    &.title{
                    }
                    &.date{
                        width: 106px;
                        display: none;
                    }
                    &.edit{
                        width: 46px;
                        a{
                            &:after{
                            }
                            &:hover{
                                &:after{
                                }
                            }
                        }
                    }
                }
                ~tr{
                }
            }
        }
    }
    .COMPONENT_message{
        padding-right: 49px;
        img{
        }
        h6{
        }
        p{
        }
        .COMPONENT_togglebtn{
        }
        .COMPONENT_message{
            width: calc(~'100% + 49px');
            ~.COMPONENT_message{
            }
        }
        &.off{
            .COMPONENT_message{
            }
        }
        ~.COMPONENT_message{
        }
    }
    .container{
        width: 100%;
    }
    body{
        .container{
            .body{
                main{
                    padding-left: 15px;
                    padding-right: 15px;
                    width: calc(~'100% - 15px - 113px');
                    h1{
                    }
                    h2{
                        margin-top: 30px;
                        +*{
                            margin-top: 30px;
                        }
                    }
                    .main_btn{
                        padding-bottom: 30px;
                        left: calc(~'100vw - 60px - 45px');
                        >div{
                            ~div{
                            }
                            &.save{
                                &:after{
                                }
                            }
                            &.add{
                                &:after{
                                }
                            }
                            span{
                            }
                            &:after, &:before{
                            }
                            &:before{
                            }
                            &:after{
                            }
                            &:hover{
                                &:before{
                                }
                                span{
                                }
                            }
                        }
                    }
                }
            }
            .fixbox{
                
            }
            header{
                left: 15px;
                width: 128px;
                padding-right: 15px;
                img{
                }
                nav{
                    &:before{
                    }
                    a{
                        ~a{
                        }
                        &.now{
                            &:before{
                            }
                        }
                        &:before{
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .COMPONENT_back{
        background-color: #e5e5e5; 
    }
    .COMPONENT_question{
        &.small{
            width: 100%;
        }
        >div{
            white-space: nowrap;
        }
    }
    .COMPONENT_inputbox_text{
        &.big{
            width: 100%;
        }
    }
    .COMPONENT_elementbox{
        .element{
            flex-wrap: wrap;
            padding-left: 7px;
            padding-right: 7px;
            >label{
                order: 1;
                width: calc(~'100% - 99px - 15px');
                &:after{
                }
            }
            .content{
                order: 3;
                width: 100%;
                margin-left: 0;
                padding-top: 7px;
                .COMPONENT_inputbox_image{
                    width: calc(~'100% - 19px');
                    height: 0;
                    padding-top: 60%;
                }
                .COMPONENT_inputbox_dropdown{
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .btn_box{
                order: 2;
                width: 99px;
                div{
                    ~div{
                    }
                    &.delete{
                        &:hover{
                        }
                    }
                    &.up, &.down{
                        &:before{
                        }
                        &:hover{
                            &:before{
                            }
                        }
                    }
                    &.up{
                        &:before{
                        }
                    }
                    &.down{
                        &:before{
                        }
                    }
                }
            }
            &:nth-of-type(1){
                .btn_box{
                    div{
                        &.up{
                        }
                    }
                }
            }
            &:nth-last-of-type(1){
                .btn_box{
                    div{
                        &.down{
                        }
                    }
                }
            }
        }
    }
    table.COMPONENT_tablelist{
        thead{
            tr{
                th{
                    ~th{
                        
                    }
                    &:nth-of-type(1){
                    }
                    &:nth-last-of-type(1){
                    }
                    &.img{
                        width: 60px;
                    }
                    &.title{
                    }
                    &.date{
                    }
                    &.edit{
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    height: 50px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    &:nth-of-type(1){
                    }
                    &:nth-last-of-type(1){
                    }
                    &.img{
                        width: 60px;
                        img{
                        }
                    }
                    &.title{
                    }
                    &.date{
                    }
                    &.edit{
                        a{
                            &:after{
                            }
                            &:hover{
                                &:after{
                                }
                            }
                        }
                    }
                }
                ~tr{
                }
            }
        }
    }
    .COMPONENT_message{
        padding-right: 0;
        img{
        }
        h6{
        }
        p{
        }
        .COMPONENT_togglebtn{
            top: -5px;
            right: 3px;
        }
        .COMPONENT_message{
            width: 100%;
            ~.COMPONENT_message{
            }
        }
        &.off{
            .COMPONENT_message{
            }
        }
        ~.COMPONENT_message{
        }
    }
    .container{
        padding-left: 7px;
        padding-right: 7px;
    }
    body{
        .container{
            .body{
                padding-top: 0;
                padding-left: 0;
                margin-top: 50px;
                padding-right: 0;
                padding-bottom: 120px;
                height: calc(~'100vh - 50px');
                main{
                    width: 100%;
                    padding-left: 0;
                    min-height: auto;
                    margin-bottom: 0;
                    padding-right: 0;
                    padding-top: 15px;
                    box-shadow: 0 0 0 transparent;
                    background-color: transparent;
                    h1{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    h2{
                        +*{
                            margin-top: 15px;
                        }
                    }
                    section{
                        ~section{
                            border-top: 1px solid #C4C4C4;
                        }
                    }
                    .main_btn{
                        >div{
                            ~div{
                            }
                            &.save{
                                &:after{
                                }
                            }
                            &.add{
                                &:after{
                                }
                            }
                            span{
                            }
                            &:after, &:before{
                            }
                            &:before{
                            }
                            &:after{
                            }
                            &:hover{
                                &:before{
                                }
                                span{
                                }
                            }
                        }
                    }
                }
            }
            .fixbox{
                
            }
            header{
                top: 0;
                left: 7px;
                width: 100%;
                height: 51px;
                padding-top: 0;
                overflow: hidden;
                .flex(row, space-between, center);
                &:after{
                    top: 49px;
                    left: 0px;
                    height: 1px;
                    content: '';
                    position: absolute;
                    display: inline-block;
                    box-shadow: 0 1px 0 #FFF;
                    background-color: #DBDBDB;
                    width: calc(~'100% - 14px');
                }
                .logo{
                    width: 42px;
                    height: 42px;
                }
                nav{
                    top: 124px;
                    opacity: 0;
                    width: 220px;
                    margin-top: 0;
                    position: fixed;
                    transition: .3s;
                    border-radius: 6px;
                    transform: scale(.9);
                    pointer-events: none;
                    background-color: #fff;
                    left: calc(~'50% - 110px');
                    .flex(column, center, center);
                    height: calc(~'100vh - 248px');
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1), 
                                0px 10px 30px rgba(0, 0, 0, 0.1);
                    &:before{
                        display: none;
                    }
                    a{
                        width: 100%;
                        color: #C4C4C4;
                        padding-left: 0;
                        text-align: center;
                        ~a{
                        }
                        &.now{
                            text-shadow: @light;
                            color: @orange_light;
                            &:before{
                                display: none;
                            }
                        }
                        &:before{
                        }
                    }
                }
                .menu_btn{
                    width: 24px;
                    height: 21px;
                    transition: .2s;
                    display: inline-block;
                    background-image: url(../img/menu_icon.svg);
                    &:after{
                        opacity: 0;
                        width: 100%;
                        content: '';
                        height: 100%;
                        transition: .2s;
                        display: inline-block;
                        background-image: url(../img/menu_icon_open.svg);
                    }
                }
                &.open{
                    nav{
                        opacity: 1;
                        transform: scale(1);
                        pointer-events: auto;
                    }
                    .menu_btn{
                        filter: drop-shadow(@light_micro);
                        &:after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}