body .body .container {
  flex-wrap: wrap;
  padding: 60px 0 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body .body .container > div {
  padding: 8px;
  height: 360px;
  position: relative;
  background-color: #f9f9f9;
  width: calc((100% - 30px) / 3);
}
body .body .container > div ~ div {
  margin-left: 15px;
}
body .body .container > div:nth-of-type(3) ~ div {
  margin-top: 20px;
}
body .body .container > div:nth-of-type(3n+1) {
  margin-left: 0;
}
body .body .container > div .img {
  width: 100%;
  padding-top: 56.25%;
}
body .body .container > div time {
  color: #9b9b9b;
  font-size: 12px;
  line-height: 17px;
}
body .body .container > div h2 {
  margin-top: 20px;
}
body .body .container > div h2 a {
  color: #606060;
  font-size: 24px;
  line-height: 32px;
}
body .body .container > div .bottom {
  left: 8px;
  bottom: 15px;
  position: absolute;
  width: calc(100% - 16px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body .body .container > div .bottom a {
  color: #f29221;
  font-size: 15px;
  font-weight: 400;
}
@media (max-width: 991px) {
  body .body .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 767px) {
  body .body .container > div {
    height: auto;
    width: 100%;
  }
  body .body .container > div ~ div {
    margin-left: 0;
    margin-top: 15px;
  }
  body .body .container > div .bottom {
    margin-top: 15px;
    position: initial;
  }
}
