body .body * {
  color: #3a3939;
}
body .body .container {
  padding-bottom: 120px;
}
body .body .container h2 {
  color: #3a3939;
  font-size: 24px;
  margin-top: 60px;
  font-weight: 700;
  padding-left: 10px;
  border-left: 3px solid #f29221;
}
body .body .container .list {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .body .container .list > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
body .body .container .list > div ~ div {
  margin-top: 60px;
}
body .body .container .list > div .img {
  width: 130px;
  height: 130px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
body .body .container .list > div .text {
  width: 620px;
  padding-left: 60px;
}
body .body .container .list > div .text h3 {
  font-weight: 400;
  margin-bottom: 15px;
}
body .body .container .list > div .text h3 span {
  width: 18px;
  color: #FFF;
  height: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 5px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #f29221;
}
body .body .container .list > div .text p {
  font-weight: 400;
}
body .body .container .list > div .text p a {
  font-weight: 600;
  color: #f29221;
}
body .body .container .list > div .text p b {
  font-weight: 600;
}
body .body .container .list > div .text ul {
  padding-top: 15px;
}
body .body .container .list > div .text ul.disc {
  padding-left: 32px;
}
body .body .container .list > div .text ul.disc li {
  font-weight: 400;
  margin-bottom: 0;
  list-style-type: disc;
}
body .body .container .list > div .text ul li {
  margin-bottom: 15px;
}
body .body .container .list > div .text ul li span {
  display: block;
  font-weight: 400;
}
@media (max-width: 767px) {
  body .body .container .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body .body .container .list > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .body .container .list > div .text {
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
  }
}
